* {
    font-family:'Courier New', Courier, monospace;
}

.hero, .footer {
    background-color: #1F2937;    
}

.hero a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style: none;
}

.logo, .main {
    color: #f9faf8;
    font-weight: bolder;

}

.logo {
    font-size: 24px;
}

.main {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    color: #e5e7eb;
}

button, .sign-up {
    background-color: #3883f6;
    color: #f9faf8;
}

.quote-container {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quotee {
    font-weight: bold;
    text-align: right;
}