* {
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-bar {
    display: flex;
    align-items: center;
}

.hero {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.hero, .footer {
    background-color: #1F2937;    
}

.hero a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 15px;
}

li {
    padding: 0;
    margin: 0;
}

.logo, .main {
    color: #f9faf8;
    font-weight: bolder;

}

.logo {
    font-size: 24px;
    margin-right: auto;
}

.main {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-content img {
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: center;
}
.hero-content {
    display: flex;
}

.footer {
    color: #e5e7eb;
}

button, .sign-up {
    background-color: #3883f6;
    color: #f9faf8;
}

.middle h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.card img {
    border: solid;
    border-color: #3883f6;
    border-radius: 3px;
    width: 100px;
    height: auto;
}

.quote-container {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quotee {
    font-weight: bold;
    text-align: right;
}